munit-recorder/template/mr-new:component.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<sub-flow name="mr-set-filename-TAG" doc:id="2746814e-0462-435c-a59d-2ef423e47982">
		<set-variable value="TAG" doc:name="fileName = TAG" doc:id="cbfa2d87-0d48-4a31-8c13-8ffb46f302db" variableName="fileName" />
	</sub-flow>
	<sub-flow name="mr-record-TAG" doc:id="48540a14-de8e-4cec-aeb4-728bb8388ff7" >
		<munit-tools:spy doc:name="spy-on-TAG" doc:id="dbd733a5-38d7-4e78-af1c-33e3d28de771" processor="TAG" >
			<munit-tools:before-call >
				<flow-ref doc:name="before call" doc:id="326186f3-839b-4968-9996-bf8682175ead" name="mr-before-call-save-params" />
			</munit-tools:before-call>
			<munit-tools:after-call >
				<set-variable value="TAG" doc:name="testDataFileName = TAG" doc:id="70fe34b0-39ad-4a1e-b2b2-1de474e01fb0" variableName="testDataFileName" />
				<flow-ref doc:name="after call" doc:id="c48fa1c9-34a0-481e-9f93-c3a6cb14658e" name="mr-after-call-save-params" />
			</munit-tools:after-call>
		</munit-tools:spy>
	</sub-flow>
	<flow name="mr-mock-TAG" doc:id="0df2b18e-85b6-45c3-8cb8-1dd12e4f4c49" >
		<set-variable value="TAG" doc:name="testDataFileName = TAG" doc:id="ed5fb583-8b85-4085-b05f-d4c431fb33b2" variableName="testDataFileName" />
		<flow-ref doc:name="mock-component" doc:id="47c54cc6-3d98-41f0-8ae5-82977f521155" name="mr-mock-component" />
	</flow>
	<sub-flow name="mr-verify-TAG" doc:id="e0fb1753-1cdc-4ffd-b772-ba7ee342cc3b" >
		<flow-ref doc:name="set filename" doc:id="4060d529-5aca-417a-b9c8-76d7e623f001" name="mr-set-filename-TAG" />
		<set-variable value='#[output java ---&#10; readUrl("classpath://test_data/" ++ (vars.testName default "unknown") ++ "/" ++ vars.fileName ++ ".json", "application/json")]' doc:name="testData" doc:id="aad2e25b-5c14-4f3a-a257-4f0cb405d613" variableName="testData"/>
		<munit-tools:verify-call doc:name="Verify call = size of testData" doc:id="8ae2c96f-a8f2-461b-a7a3-cca5c59720b1" processor="TAG" times="#[sizeOf(vars.testData)]"/>
		<remove-variable doc:name="Remove Variable" doc:id="82443b3b-2323-4059-973c-90c3cfb43c6f" variableName="testData"/>
	</sub-flow>

	<sub-flow name="move-me-to-all" doc:id="48e63f8c-44c0-4f1a-a117-69f2dd925d83" >
		<munit-tools:mock-when doc:name="mock TAG" doc:id="265c461e-7c53-4ed9-8df0-782d74005d2a" processor="TAG">
			<munit-tools:then-call flow="mr-mock-TAG" />
		</munit-tools:mock-when>
		<flow-ref doc:name="record TAG" doc:id="c9f05458-6460-43fb-9ef6-aa0badde56f7" name="mr-record-TAG" />
		<flow-ref doc:name="verify TAG" doc:id="c48466bd-e520-4f81-98a2-7411c8918b2d" name="mr-verify-TAG"/>
	</sub-flow>
</mule>
