munit-recorder/connectors/munit-recorder-messagestore-read.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<sub-flow name="munit-recorder-messagestore-read" doc:id="f49160af-2af9-43be-9106-639a813c4d6c" >
		<munit-tools:spy doc:name="Spy on every messagestore-grpc:read-message" doc:id="fa00257b-3586-403c-b0be-912d9a8f94e8" processor="messagestore-grpc:fetch-messages " >
			<munit-tools:before-call >
				<flow-ref doc:name="before call" doc:id="7dd89d63-913a-47f3-a726-2a8318ef6e33" name="munit-recorder-before-call" />
			</munit-tools:before-call>
			<munit-tools:after-call >
				<flow-ref doc:name="set filename" doc:id="fd86f526-a463-4272-9f17-c2f9513aecf6" name="munit-recorder-messageStore-set-filename" />
				<flow-ref doc:name="after call" doc:id="303fa7f9-c00d-4c8e-964f-b6da8cf0b10b" name="munit-recorder-after-call" />
			</munit-tools:after-call>
		</munit-tools:spy>
	</sub-flow>
	<sub-flow name="munit-recorder-messageStore-read-verify" doc:id="a1dd1dee-a865-496d-90ea-a390e87eb7aa">
		<flow-ref doc:name="set filename" doc:id="daa59317-fd54-49a9-a496-cd3fbe0698fc" name="munit-recorder-messageStore-set-filename" />
		<set-variable value='#[// try to read the test file, if it doesnt exist, return empty array&#10;output java &#10;import try, orElse from dw::Runtime&#10;---&#10;try(() -&gt; (readUrl("classpath://test_data/" ++ vars.testName ++ "/" ++ vars.testDataFileName ++ ".json", "application/json"))) orElse []]' doc:name="testData" doc:id="7292c75d-812b-42ab-be09-98b96102fecb" variableName="testData" />
		<munit-tools:verify-call doc:name="Verify call = size of testData" doc:id="e35f0a6d-c5f5-46f4-b1a7-1c3df69e02ee" processor="messagestore-grpc:fetch-messages " times="#[sizeOf(vars.testData)]" />
		<remove-variable doc:name="testData" doc:id="2b28e5b8-457b-4176-a198-0ea9b9c908bf" variableName="testData" />
	</sub-flow>
	<flow name="mock-on-messageStore-read" doc:id="48b9394a-1b7d-46a8-a5d5-00f47f7c41db" >
		<flow-ref doc:name="set filename" doc:id="944deeff-91b8-4d95-9acb-c1b478fb614a" name="munit-recorder-messageStore-set-filename" />
		<flow-ref doc:name="mock-component" doc:id="534916d6-d162-4a88-83a8-1cab36aab9e6" name="munit-recorder-mock-component" />
	</flow>
	<sub-flow name="munit-recorder-messageStore-read-set-filename" doc:id="2c0fa0c0-e11e-44d9-97db-34794e0afaed" >
		<set-variable value='#["MESSAGESTORE-READ"]' doc:name="testDataFileName = MESSAGESTORE" doc:id="5dce17bf-1034-4d4c-b35a-0857032ece66" variableName="testDataFileName" />
	</sub-flow>
</mule>
