munit-recorder/connectors/munit-recorder-db-query-single.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<sub-flow name="munit-recorder-db:query-single-set-filename" doc:id="3e3dbf11-6c5e-4d39-b63c-d3f34cb72998" >
		<set-variable value='#["db:query-single"]' doc:name="testDataFileName" doc:id="5914c910-9923-42ff-b91b-ef7735cd1731" variableName="testDataFileName" />
	</sub-flow>
	<flow name="mock-on-query-single" doc:id="e59e4516-4e2c-4b21-bc27-8cfca9e4ca8a" >
		<flow-ref doc:name="set filename" doc:id="7d84688a-69bf-44c4-8348-ee84d9dfe96f" name="munit-recorder-db:query-single-set-filename" />
		<flow-ref doc:name="mock-component" doc:id="54aa3325-79fc-4b44-8ed4-a6e568fb4db1" name="munit-recorder-mock-component" />
	</flow>
	<sub-flow name="munit-recorder-db:query-single-verify" doc:id="5399e3da-896b-42ce-97c2-c01b1d6811c2" >
		<flow-ref doc:name="set filename" doc:id="33647a79-bacc-4886-a60c-1172e6700899" name="munit-recorder-db:query-single-set-filename" />
		<set-variable value='#[// try to read the test file, if it doesnt exist, return empty array&#10;output java &#10;import try, orElse from dw::Runtime&#10;---&#10;try(() -&gt; (readUrl("classpath://test_data/" ++ vars.testName ++ "/" ++ vars.testDataFileName ++ ".json", "application/json"))) orElse []]' doc:name="testData" doc:id="3d4cc367-0558-4f96-96d0-f729231911e0" variableName="testData" />
		<munit-tools:verify-call doc:name="Verify call = size of testData" doc:id="e92b698c-6ac3-4fc7-b520-a635a89598ea" processor="db:query-single" times="#[sizeOf(vars.testData)]" />
		<remove-variable doc:name="testData" doc:id="f19519e6-5f2e-4312-8181-92933eb20010" variableName="testData" />
	</sub-flow>
	<sub-flow name="munit-recorder-query-single" doc:id="ccbec0ad-be62-4c40-84a6-86c1da46d8c9" >
		<munit-tools:spy doc:name="Spy on every db:query-single" doc:id="242b47f4-a05f-4988-8369-e91b1f87e3a7" processor="db:query-single" >
			<munit-tools:before-call >
				<flow-ref doc:name="before call" doc:id="d4134dd0-1965-4a77-a87f-269fc92a4d74" name="munit-recorder-before-call" />
			</munit-tools:before-call>
			<munit-tools:after-call >
				<flow-ref doc:name="set filename" doc:id="20fc82c0-596f-4a26-a202-22f88f9beb25" name="munit-recorder-db:query-single-set-filename" />
				<flow-ref doc:name="after call" doc:id="fc11884e-79f4-4e18-b763-38a3d84a8dc8" name="munit-recorder-after-call" />
			</munit-tools:after-call>
		</munit-tools:spy>
	</sub-flow>
</mule>
